/* Fonts */
@font-face {
    font-family: "Roboto";
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/roboto-variable.ttf);
}
@font-face {
    font-family: "Roboto Mono";
    font-weight: 100 900;
    font-display: swap;
    src: url(/fonts/roboto-mono-variable.ttf);
}

/* Light mode theme */
:root {
    --header-height: 4rem;
    --primary: #40678a;
    --secondary: #81b3d5;
    --text: #000000;
    --text-disabled: rgba(0, 0, 0, 0.5);
    --text-accent: rgba(0, 0, 0, 0.7);
    --accent: rgba(0, 0, 0, 0.2);
    --low-accent: rgba(0, 0, 0, 0.1);
    --background: #ffffff;
    --success: #83af50;
    --warning: #ffc107;
    --error: #ff3e3e;
}

/* Dark mode theme */
.dark-mode {
    --secondary: #23313d;
    --text: #ffffff;
    --text-disabled: rgba(255, 255, 255, 0.5);
    --text-accent: rgba(255, 255, 255, 0.6);
    --accent: rgba(255, 255, 255, 0.2);
    --low-accent: rgba(255, 255, 255, 0.1);
    --background: #000000;
    --error: #7c2323;
}

/* Global defaults */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: var(--background);
}

/* Text */
h1 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    color: var(--text);
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    color: var(--text);
    margin: 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text);
    margin: 0;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin: 1rem 0;
    text-align: justify;
    &.error {
        color: var(--error);
    }
}

/* Headers */
header {
    backdrop-filter: blur(3px);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 1rem;
    right: 1rem;

    & > div {
        height: var(--header-height);
        margin: auto;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & div {
            display: flex;
            gap: 1rem;
        }

        & :first-child {
            gap: 2rem;
        }

        @media (max-width: 500px) {
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
    }
}

@media (max-width: 500px) {
    :root {
        --header-height: 7rem;
    }
}

blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: .5rem solid var(--low-accent);
    border-radius: .25rem 0 0 .25rem;
}

a {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-accent);
    transition-duration: .2s;
    &:hover {
        color: var(--text);
    }
}

/* Lists */
li {
    margin: .5rem 0;
}

/* Dividers */
hr, .horizontal.divider {
    border: none;
    border-bottom: 1px solid var(--accent);
    width: 100%;
    margin: 2rem 0;
}
.vertical.divider {
    border: none;
    border-right: 1px solid var(--accent);
    height: 100%;
    margin: 0 2rem;
}

/* Code */
code, .code {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--low-accent);
    padding: 0 .25rem;
    border-radius: .25rem;
}

/* Images */
.image {
    display: block;
    width: 100%;
}

/* Sections */
section, .section {
    color: var(--text);
    background-color: var(--background);
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    & > * {
        max-width: 800px;
    }
    &.full.width {
        & > * {
            width: 100%;
            max-width: 100%;
        }
    }
    &.secondary {
        background-color: var(--secondary);
    }
    &.accent {
        background-color: var(--accent);
    }
    &.full.height {
        min-height: 100%;
        padding-top: 0;
        padding-bottom: var(--header-height);
    }
}

/* Links */
.link {
    color: var(--primary);
    text-decoration: inherit;
}

/* Privacy mode */
.blur {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px var(--text);
}

/* Dashboards */
.dashboard {
    background-color: var(--low-accent);
    min-height: 100%;
    padding: .5rem;
    border-radius: .5rem 0 0 0;
    &.centered {
        align-content: center;
        justify-content: center;
    }
}

/* Rows and Columns */
.row {
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    flex-wrap: wrap;
    & .column {
        height: fit-content;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex: 2;
        &.big {
            flex: 4;
        }
        &.small {
            flex: 1;
        }
    }
}

/* Utilities */
.spacer {
    &.vertical {
        height: 100%;
    }
    &.horizontal {
        width: 100%
    }
}

/* Cards */
.card {
    height: fit-content;
    color: var(--text);
    padding: 1.5rem;
    border-radius: .5em;
    border: 1px solid var(--accent);
    overflow: hidden;
    text-decoration: none;
    transition-duration: .2s;
    &:hover, &:focus {
        background-color: var(--low-accent);
    }
    & h3 {
        text-align: center;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
