:root {
    /* Semantic colors */
    --primary: var(--deep-red);
    --secondary: var(--white);
    --text-primary: var(--black);
    --text-secondary: var(--extra-dark);
    --accent: var(--dark);
    --background: var(--light-grey);
    --error: var(--red);
    --paper: var(--white);

    /* Absolute colors */
    --white: hsl(0, 0%, 95%);
    --light-grey: hsl(0, 0%, 90%);
    --black: hsl(0, 0%, 5%);
    --dark-grey: hsl(240, 10%, 10%);
    --slightly-light: rgba(255, 255, 255, .05);
    --light: rgba(255, 255, 255, 0.3);
    --extra-light: rgba(255, 255, 255, 0.5);
    --slightly-dark: rgba(0, 0, 0, .08);
    --dark: rgba(0, 0, 0, .3);
    --extra-dark: rgba(0, 0, 0, .6);

    /* Fonts */
    --font-text: 'Roboto', sans-serif;
    --font-display: 'Roboto', sans-serif;

    /* Font weights */
    --heavy-weight: 900;
    --bold-weight: 500;
    --normal-weight: 300;
    --light-weight: 200;

    /* Borders */
    --border-radius: .5rem;
    --border: 1px solid var(--accent);

    /* Shadows */
    --highlight-shadow: 0px 2px 4px var(--extra-dark), inset 0px 1px 2px var(--light);
    --recessed-shadow: inset 0px 3px 6px var(--extra-dark);
    --drop-shadow: 0 5px 5px var(--dark);

    /* Other */
    --hover-brightness: brightness(.9);
}

/* Dark mode */
.dark {
    --text-primary: var(--white);
    --text-secondary: var(--extra-light);
    --primary: var(--dark-red);
    --secondary: var(--dark-grey);
    --background: var(--black);
    --accent: var(--light);
    --hover-brightness: brightness(1.2);
    --paper: var(--brown);
}

/* Global defaults */
* {
    box-sizing: border-box;
    font-family: var(--font-text);
    color: var(--text-primary);
    font-weight: var(--normal-weight);
    font-size: 1rem;
    margin: 0;
}

html {
    background-color: var(--background);
}

h1 {
    font-family: var(--font-display);
    font-weight: var(--light-weight);
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

h2 {
    font-family: var(--font-display);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: var(--font-display);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    margin: 1rem 0;

    &.error {
        color: var(--error);
    }
}

b, strong {
    font-weight: var(--bold-weight);
    font-size: 1rem;
    line-height: 1.5rem;
}

s {
    font-weight: inherit;
}

a {
    color: var(--text-secondary);
    transition-duration: .2s;
    text-decoration: none;
    &:hover {
        color: var(--text-primary)
    }
}

img {
    display: block;
    user-select: none;
}

ul {
    padding-left: 1rem;

    & li {
        margin: .5rem 0;
    }
}

hr {
    border: none;
    border-bottom: var(--border);
    width: 100%;
}

section {
    padding: 5rem 1rem;
    margin: 0 auto;
    &.secondary {
        background-color: var(--secondary);
        box-shadow: var(--drop-shadow);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent);
    max-width: 400px;
    & > * {
        margin: 0;
    }
}

.iconify {
    color: currentColor;
    min-height: 2rem;
    min-width: 2rem;
}

.row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    & .column {
        height: fit-content;
        min-width: min-content;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        flex: 2;
        &.big {
            flex: 4;
        }
        &.small {
            flex: 1;
        }
    }
}
